<h2 id="djangonotes">Django Notes</h2>

<p>A simple Notes app built using Django.</p>

<p><strong>Tools:</strong></p>

<ul>
<li>Django</li>

<li>PostgreSQL</li>

<li>jQuery</li>

<li>HTML</li>

<li>CSS</li>

<li>Heroku</li>
</ul>

<p><strong>Features:</strong></p>

<ul>
<li>Each user can signup with name, mobile and password</li>

<li>Each user can login with mobile and password</li>

<li>Each user can: <code>Add</code>, <code>Edit</code>, <code>Delete</code> &amp; <code>Read</code> a Note</li>

<li>User can search other users in the network by mobile or name</li>

<li>User can choose to share their notes with one or more users in the network with access levels: <code>View</code>, <code>Edit</code></li>

<li>User can choose to share notes anytime after creation.</li>

<li>Owner of the notes can remove any access level anytime</li>
</ul>

<p>Demo: <a href="https://django-notes-application.herokuapp.com/">https://django-notes-application.herokuapp.com/</a></p>
<p>Sign up: <a href="https://django-notes-application.herokuapp.com/signup/">https://django-notes-application.herokuapp.com/signup/</a></p>
<p>Sign in: <a href="https://django-notes-application.herokuapp.com/signin/">https://django-notes-application.herokuapp.com/signin/</a></p>